---
title: Connecting an App to the Tanzu MySQL Instance
owner: MySQL
---

<%= partial '../../mysql-k8s/partials/mysql-k8s/product-beta-warning' %>

<strong><%= modified_date %></strong>

This topic explains how to connect an app to your <%= vars.product_full %> instance.

## <a id='AboutTile'></a>About <%= vars.product_short %>

Connecting an App to the <%= vars.product_short %> Instance

## <a id='prereq'></a>Prerequisites
Prerequisites

* Have the Kubernetes command line tool (kubectl CLI) installed
* Developers must have permissions to read kubernetes secrets in their target namespace.

<p class="note"><strong>Note: </strong>VMware recommends that developers have `namespace-scoped` admin access
  to their target namespace when using <%= vars.product_short %> to avoid kubernetes permissions issues.


## <a id='retrieve-creds'></a>Retrieve the MySQL Credentials
Retrieve the MySQL Credentials

* kubectl get secret INSTANCE_NAME-credentials -o jsonpath='{.data.rootPassword}' | base64 -D

Output should be a random string such as `ithLtGMmuZS0aksLK7imblrkjkv0`

* Username is always “root”


## <a id='connect-app'></a>Connect your Application to the <%= vars.product_short %> Database
Connect your Application to the <%= vars.product_short %> Database

* App needs to be in the same Kubernetes cluster because we only have a ClusterIP.
For more information, see [K8s](https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types).

* Can be in a different namespace
* Configure your App’s environment variables with the MySQL username “root” and password as what you retrieved * earlier.
