---
title: Creating and Deleting a TanzuMySQL Instance
owner: MySQL
---

<%= partial '../../mysql-k8s/partials/mysql-k8s/product-beta-warning' %>

<strong><%= modified_date %></strong>

This topic describes how you, as a developer, deploy, and delete TanzuMySQL instances.

## <a id='prerequisites'></a> Prerequisites

Before you can create or delete TanzuMySQL instances, you must have:

* The Kubernetes Command Line Interface (kubectl).
  See [Installing the Kubernetes CLI](https://docs.pivotal.io/tkgi/installing-kubectl-cli.html).

* Full admin access to all Kubernetes resources in your developer namespace.

    For information about Roles and RoleBindings that your Kubernetes cluster admin needs to create,
    see the [Kubernetes documentation](https://kubernetes.io/docs/reference/access-authn-authz/rbac/).

* The URL and credentials to access the registry that stores the <%= vars.product_short %> images.
  This can the TanzuNet registry or the private registry configured for your environment.
    If you do not have access to the registry credentials, contact your Kubernetes administrator
    to have these set up for you in your namespace.

## <a id='create-instance'></a>Create a TanzuMySQL Instance

To create a TanzuMySQL instance:

1. Target the development namespace where you want to create the TanzuMySQL instance.

2. From your namespace, Kubernetes must be able to access the registry
   that stores the <%= vars.product_short %> images. 
   To allow this, create an imagePullSecret by running:

    <code>
kubectl --namespace=DEVELOPMENT-NAMESPACE create secret docker-registry tanzu-mysql-image-registry --docker-server=REGISTRY-SERVER-URL --docker-username=DOCKER-USERNAME --docker-password=DOCKER-PASSWORD
</code>
    Where:
    * `DEVELOPMENT-NAMESPACE` is the namespace in which you want to create the instance  
    * `REGISTRY-SERVER-URL` is the TanzuNet registry or the private registry configured for your environment
    * `DOCKER-USERNAME` and `DOCKER-PASSWORD` are the credentials used to pull images from the registry.  

    For example:

    <pre class="terminal">$ kubectl create secret --namespace=my-namespace \
    docker-registry tanzu-mysql-image-registry  \
    --docker-server=https://registry.pivotal.io/ \
    --docker-username=sample-username  \
    --docker-password=sample-password
    secret/tanzu-mysql-image-registry created
    </pre>

3. Create a `tanzumysql.yaml` file.
   You can use this as a template.

    ```
    apiVersion: mysql.tanzu.vmware.com/v1alpha1
    kind: TanzuMySQL
    metadata:
      name: tanzumysql-sample
    spec:
      storageSize: 1Gi
      imagePullSecret: tanzu-mysql-image-registry

    #### Set the storage class name to change storage class of the PVC associated with this resource
    #  storageClassName: standard

    #### Examples to set resource limit/request for mysql/backup pods.

    #  resources:

    #### This is the container running the mysql server.
    #    mysql:
    #      limits:
    #        cpu: 3
    #        memory: 800Mi
    #      requests:
    #        cpu: 2
    #        memory: 500Mi
    #### This is the sidecar container that takes a backup and streams to the storage backend.
    #    backups:
    #      limits:
    #        cpu: 2
    #        memory: 500Mi
    #      requests:
    #        cpu: 1
    #        memory: 200Mi
    ```

4. Edit the `tanzumysql.yaml` file.
   For an explanation of the the properties you can set in this file,
   see [Property Reference for tanzumysql.yml](property-reference.html).


5. Deploy a TanzuMySQL instance to Kubernetes by running:

    ```
    kubectl -n DEVELOPMENT-NAMESPACE apply -f tanzumysql.yaml
    ```

    For example:

    <pre class="terminal">$ kubectl -n my-namespace apply -f tanzumysql.yaml
    tanzumysql.mysql.tanzu.vmware.com/tanzumysql-sample created
    </pre>


6. Verify that the instance was created successfully by running:

    ```
    kubectl get tanzumysql INSTANCE-NAME
    ```
    Where `INSTANCE-NAME` is the value that you configured for `metadata.name` in the `tanzumysql.yaml` file.

    For example:

    <pre class="terminal">$ kubectl get tanzumysql tanzumysql-sample
NAME                READY   STATUS    AGE
tanzumysql-sample   true    Running   2m17s
    </pre> 



## <a id='delete-instance'></a>Delete a TanzuMySQL Instance

This section provides some conceputal information about persistent volume claims (PVCs)
and deleting an instance.
It also provides the procedure for how to delete an instance.
 
###<a id="about-pvcs"></a> About PVCs

When you create a TanzuMySQL instance, the Tanzu MySQL operator also creates a persistent
volume claim (PVC).
This PVC is attached to the instance and contains the data for the MySQL database.


The PVC name contains the instance name and the TanzuMySQL Pod number.
Currently only one Pod is allowed per instance, so the PVC name is of the form:

<code>mysql-data-INSTANCE-NAME-N</code>

For example: <code>mysql-data-tanzumysql-sample-0</code>

<p class="note">
   <strong>Note:</strong>
Currently only one Pod is allowed per instance, so <code>N</code> is always <code>0</code>.
</p>

###<a id="about-deleting"></a> About Deleting a TanzuMySQL Instance

There are two steps to deleting an instance.
The first step is to delete the instance itself, and the second step is to delete the PVC.

There are situations where you want to delete the instance but not delete the PVC.
For example, in a test environment, you might delete the instance to save costs
but keep the PVC storing the data.

If you later create a new instance with the same name as the deleted instance,
the old PVC automatically reattaches to the new instance and you have access to your data again.


<p class="note">
   <strong>Note:</strong> If you delete the Pod or the Statefulset associated
   with the <%= vars.product_short %> resource,
   a <%= vars.product_short %> controller re-creates it for you.
   To permanently delete the instance, you need to delete the <code>tanzumysql</code> resource,
   as described in step 1 below.
</p>

###<a id="procedure"></a> Procedure

To delete a TanzuMySQL instance:

1. Delete the TanzuMySQL instance by running:

    <code>kubectl -n DEVELOPMENT-NAMESPACE delete tanzumysql INSTANCE-NAME </code>
    Where:
    * `DEVELOPMENT-NAMESPACE` is the namespace where you created the instance.
    * `INSTANCE-NAME` is the name of the instance you want to delete.

    For example:

    <pre class="terminal">
    $ kubectl delete tanzumysql tanzumysql-sample
tanzumysql.mysql.tanzu.vmware.com "tanzumysql-sample" deleted
    </pre>

2. (Optional) Delete the Persistent Volume Claim (PVC).

    <p class="note warning">
       <strong> Warning:</strong> This is a destructive action.
       If you destroy your PVC, you delete all data associated with your <%= vars.product_short %> database.
    </p>

    1. Review your PVCs by running:

        <code>kubectl get pvc </code>

        For example:

        <pre class="terminal">
       $ kubectl get pvc
NAME                              STATUS   VOLUME                                     CAPACITY   ACCESS MODES   STORAGECLASS   AGE
mysql-data-tanzumysql-sample-0    Bound    pvc-3262e841-c4aa-4aa4-b53a-68cd3078f806   1Gi        RWO            standard       7d1h
mysql-data-another-sample-0       Bound    pvc-87c8a3a9-263b-46e6-8acb-ed474434fd24   1Gi        RWO            standard       6d21h
          </pre>

    2. Identify the names of the PVCs that correspond to the name of the instance you deleted above.

    3. Delete the PVC associated with each Tanzu MySQL Pod by running, for each Pod:

        <code>kubectl delete pvc mysql-data-INSTANCE-NAME-n  </code>
        Where:
        + `INSTANCE-NAME` is the name of the TanzuMySQL instance that you deleted above.
        + `N` is the index of each Pod in the TanzuMySQL instance.

        For example:

        <pre class="terminal">
       $ kubectl delete pvc mysql-data-tanzumysql-sample-0
persistentvolumeclaim "mysql-data-tanzumysql-sample-0" deleted
          </pre>
