---
title: VMware Tanzu™ SQL with MySQL for Kubernetes (Beta)
owner: MySQL
---

<%= partial '../../mysql-k8s/partials/mysql-k8s/product-beta-warning' %>

<strong><%= modified_date %></strong>

This topic provides an overview of <%= vars.product_full %> (<%= vars.product_short %>).

## <a id='overview'></a>Overview

Overview
<%= vars.product_short %> enables developers to provision and use dedicated instances of the MySQL database on demand on any Kubernetes runtime. When you install <%= vars.product_short %>, a Kubernetes Operator is deployed on your Kubernetes platform of choice, which allows developers to create MySQL instances.

<%= vars.product_short %> is configured with secure and performant settings by default to meet user expectations for a general-use relational database.

[...]

* What is <%= vars.product_short %>?
* What value does it bring to the user?
* What kind of users can use it?

Major Features?

**[Chris] Can we use this as a basis? http://postgres-kubernetes-wip.cfapps.io/1-0/about.html**

## <a id='about-mysql4k8s'></a>About <%= vars.product_short %>
* About <%= vars.product_short %>

### <a id='about-mysql-8-0'></a>About MySQL 8.0
* Brief Summary

#### <a id='features-mysql-8-0'></a>MySQL 8.0 Features
* What features are offered in MySQL v8.0?

#### <a id='changes-mysql-5-7'></a>Changes since MySQL v5.7
* Changes since MySQL v5.7

## <a id='mysql4k8s-architecture'></a><%= vars.product_short %> Architecture
* <%= vars.product_short %> Architecture

### <a id='operator-framework'></a>Operator Framework
* Operator Framework

### <a id='controllers-crds'></a>Controllers and Custom Resource Definitions (CRDs)
* Controllers and Custom Resource Definitions (CRDs)

## <a id='rto-rpo-characteristics'></a>RTO and RPO Characteristics
Recovery Time Objective (RTO) and Recovery Point Objective (RPO) are metrics used to assess the availability of a SERVICE/CLUSTER/? during an outage.

### <a id='rto-downtime'></a>Expected Downtime
* Expected downtime for different types of outages - (RTO)
 * Pod gets rescheduled? K8s cluster loses network connectivity? etc.

### <a id='rpo-data-loss'></a>Data Loss
* How much data is lost for different types of outages - (RPO)

## <a id='requirements'></a>Platform Requirements
**[Chris] Can we use this as a basis? http://postgres-kubernetes-wip.cfapps.io/1-0/prerequisites.html**

* Platform Requirements
* Works on any Kubernetes v1.18+
* Tested on Minikube, TKG, and GKE

## <a id='license'></a> License
This product is distributed under the
[VMware Pre-Release EULA](https://network.pivotal.io/legal_documents/pivotal_beta_eula) license.
