---
title: VMware Tanzu™ SQL with MySQL for Kubernetes
owner: MySQL
---

This topic provides an overview of <%= vars.product_full %> (<%= vars.product_short %>).

## <a id='about-mysql4k8s'></a>  About <%= vars.product_short %>

<%= vars.product_short %> is a Kubernetes Operator that automates provisioning, management,
and operations of dedicated MySQL instances running on Kubernetes. Applications running on Kubernetes can use MySQL instances deployed using the Operator.
By default, Tanzu MySQL instances are provisioned with secure and functional settings to meet application developer expectations for a general-use relational
database.

<%= vars.product_short %> packages a collection of open-source software to deploy
and manage one or more instances of the MySQL database. It includes the following components:

  * [Percona Server 8.0](https://www.percona.com/mysql/software/percona-server-for-mysql)
  * [Percona XtraBackup 8.0](https://www.percona.com/mysql/software)

The major features of <%= vars.product_short %> include:

  * Single instance or High Availability (HA).
  * Backup and restore, including on demand and scheduled backups to S3-compatible blob stores.
  * TLS for client and intra-cluster connections.
  * Compatibility with the [Restricted Pod Security Standard](https://kubernetes.io/docs/concepts/security/pod-security-standards/#restricted).
  * MySQL instances ease of deployment and upgrades. 

## <a id='snapshot'></a>  Product Snapshot

The following table provides version and version-support information about <%= vars.product_short %>. For more details, refer to the [Release Notes](release-notes.html).

<table border="1" class="nice">
  <tr>
    <th><%= vars.product_short %> Version</th>
    <th>Percona Server</th>
    <th>Percona XtraBackup</th>
    <th>Release Date</th>
    <th>Compatible<br>Kubernetes Version</th>
  </tr>
  <tr>
    <td>1.2.0</td>
    <td>8.0.26</td>
    <td>8.0.26</td>
    <td>Nov 5th, 2021</td>
    <td>1.19+</td>
  </tr>
  <tr>
    <td>1.1.0</td>
    <td>8.0.25-15</td>
    <td>8.0.25-17</td>
    <td>Aug 17th, 2021</td>
    <td>1.19+</td>
  </tr>
  <tr>
    <td>1.0.0</td>
    <td>8.0.22–13</td>
    <td>8.0.23–16</td>
    <td>Apr 15th, 2021</td>
    <td>1.19+</td>
  </tr>
</table>

## <a id='about-mysql-8-0'></a>  About MySQL 8.0

MySQL is a powerful open-source relational database in use since the mid-90s.
Developers have relied on MySQL as a first step to storing, processing, and sharing data.
As its user community has grown, MySQL has become a robust system
capable of handling a wide variety of use cases and very significant workloads.
Unlike other traditional databases that centralize and consolidate data,
MySQL lends itself to dedicated deployment, which supports building "cloud native" apps.

The major features of MySQL 8.0 include:

  * Multi-Version Concurrency Control (MVCC)
  * Tablespaces
  * Asynchronous replication
  * Nested transactions (savepoints)
  * Online/hot backups
  * Redo logging for fault tolerance
  * Crash-safe DDL
  * Unicode
  * NoSQL Document Store interface
  * Native JSON datatype
  * Native Geographic Information System (GIS) support

If you are new to MySQL and want general information about MySQL,
see the [MySQL documentation](https://dev.mysql.com/doc/refman/8.0/en/what-is-mysql.html).


## <a id='license'></a>  License
This product is distributed under the
[VMware EULA](https://network.pivotal.io/legal_documents/vmware-eula) license.

