---
title: VMware Tanzu™ SQL with MySQL for Kubernetes (Beta)
owner: MySQL
---

<%= partial '../../mysql-k8s/partials/mysql-k8s/product-beta-warning' %>

<strong><%= modified_date %></strong>

This topic provides an overview of <%= vars.product_full %> (<%= vars.product_short %>).

## <a id='about-mysql4k8s'></a>About <%= vars.product_short %>

<%= vars.product_short %> is a Kubernetes Operator that automates provisioning, management,
and operations of dedicated MySQL instances running on Kubernetes.
By default, MySQL instances provisioned by <%= vars.product_short %> are configured with
secure and functional settings to meet app developer expectations for a general-use relational
database.

Kubernetes Operators are software extensions to Kubernetes that provide custom resources
for the management of apps, services, and their components.

The Operator provides a consistent way to deploy MySQL instances to Kubernetes and to run them.
This includes "day two", continuous operations.
Apps running on Kubernetes or outside of Kubernetes can use MySQL instances
deployed using the Operator.

<%= vars.product_short %> packages a collection of open-source software to help you deploy
and manage one or more instances of the MySQL database on Kubernetes.
It includes the following components:

  * [Percona Server 8.0](https://www.percona.com/software/mysql-database/percona-server)
  * [Percona XtraBackup 8.0](https://www.percona.com/software/mysql-database/percona-xtrabackup)


## <a id='about-mysql-8-0'></a>About MySQL 8.0

MySQL is a powerful open-source relational database in use since the mid-90s.
Developers have relied on MySQL as a first step to storing, processing, and sharing data.
As its user community has grown, MySQL has become a robust system
capable of handling a wide variety of use cases and very significant workloads.
Unlike other traditional databases that centralize and consolidate data,
MySQL lends itself to dedicated deployment, which supports building "cloud native" apps.


### <a id='features-mysql-8-0'></a>MySQL 8.0 Features

The major features of MySQL 8.0 include:

  * Multi-Version Concurrency Control (MVCC)
  * Tablespaces
  * Asynchronous replication
  * Nested transactions (savepoints)
  * Online/hot backups
  * Redo logging for fault tolerance
  * Crash-safe DDL
  * Unicode
  * NoSQL Document Store interface
  * Native JSON datatype
  * Native Geographic Information System (GIS) support

### <a id='what-is-mysql'></a> More about MySQL

If you are new to MySQL and want general information about MySQL,
see the [MySQL documentation](https://dev.mysql.com/doc/refman/8.0/en/what-is-mysql.html).

<%# should there be a product snapshot here? %>

## <a id='rto-rpo-characteristics'></a>RTO and RPO Characteristics
Recovery Time Objective (RTO) and Recovery Point Objective (RPO) are metrics used to assess the availability of a SERVICE/CLUSTER/? during an outage.

### <a id='rto-downtime'></a>Expected Downtime
* Expected downtime for different types of outages - (RTO)
 * Pod gets rescheduled? K8s cluster loses network connectivity? etc.

### <a id='rpo-data-loss'></a>Data Loss
* How much data is lost for different types of outages - (RPO)

## <a id='requirements'></a>Platform Requirements

  <%= vars.product_short %> requires Kubernetes v1.16 or later.

## <a id='license'></a> License
This product is distributed under the
[VMware Pre-Release EULA](https://network.pivotal.io/legal_documents/pivotal_beta_eula) license.

## <a id="gen-limits"></a> General Limitations

<%= vars.product_short %> has the following limitations:

* This product is currently in beta. VMware does not provide commercial support.
* This product is intended to be used with any Kubernetes distribution v1.16 or later.
  However, given the number of Kubernetes vendors, versions, and configurations, not all of them have been
  tested with <%= vars.product_short %>.
* Product upgrades are not supported. If you want to test a newer version, delete the previous version first.
