---
title: Installing the Tanzu MySQL for Kubernetes Operator
owner: MySQL
---

<%= partial '../../mysql-k8s/partials/mysql-k8s/product-beta-warning' %>


<strong><%= modified_date %></strong>

This topic describes how operators install, configure,
and deploy the <%= vars.product_full %> Operator.

## <a id="overview"></a> Overview

To install and configure <%= vars.product_short %>, you must download resources and install
the <%= vars.product_short %> Operator using Helm.

To download resources and install the Operator:

1. [Download the Resources](#download)
1. [(Optional) Edit the Helm Chart](#edit-chart)
1. [Install the Operator](#install)

## <a id='prereq'></a>Prerequisites

Before you deploy the <%= vars.product_short %> Operator, you need:

* Access to <%= vars.product_short %> in <%= vars.product_network %> and <%= vars.product_network %> Registry.

* The Helm command line tool installed. For more information, see [Installing
Helm](https://helm.sh/docs/intro/install/) from the Helm documentation.

* The Kubernetes command line tool (kubectl) installed. For more
information, see the [Kubernetes documentation](https://kubernetes.io/docs/tasks/tools/install-kubectl/).

* The Docker command line tool installed and Docker running on your local machine.

* An existing Kubernetes environment.

* `cluster-admin` ClusterRole access to the Kubernetes cluster.
For more information, see the [Kubernetes documentation](https://kubernetes.io/docs/reference/access-authn-authz/rbac/#user-facing-roles).


## <a id="download"></a> Download the Resources

To install the <%= vars.product_short %> Operator, you must download the Helm chart,
images, and deployment templates.

To download the resources:

1. Log in to Helm from the command line by running:

    ```
    helm registry login registry.pivotal.io \
    --username=USER-EMAIL --password=USER-PASSWORD
    ```

1. Log in to [<%= vars.product_network %>](https://network.pivotal.io) and go to
the **<%= vars.product_full %>** product page.

1. Click **Tanzu MySQL Deployment Templates** to download the deployment templates to your local machine.

1. Click **Artifact References** to navigate into the artifacts directory. Keep the page
open to reference in the following step.

1. Download each of the artifact references using the command line.
  1. **To download `tanzu-mysql-operator-chart` to the Helm cache:** Click the artifact from <%= vars.product_network %> and paste the
  two commands into the command line.
  <br><%= image_tag("tanzu-mysql-operator-artifact.png", :width => "450px",
  :alt=>"Modal shows 4 pieces of data: type, digest, 'set the environment variable' and 'pull this chart'") %>
  <br>For example:
  <pre class="terminal">$ export HELM_EXPERIMENTAL_OCI=1
$ helm chart pull registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator-chart:0.1.0
<br>0.1.0: Pulling from registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator-chart
ref:     <span style="color: #77bf00;">registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator-chart:0.1.0</span>
digest:  2b6e1d010ab1737dcc5a426b223a06db1c616107d2ceaf368db6fda48d96a61a
size:    4.2 KiB
name:    tanzu-mysql-operator
version: 0.1.0
Status: Downloaded newer chart for registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator-chart:0.1.0</pre>
  1. **To download `tanzu-mysql-instance`:** Click the artifact from <%= vars.product_network %> and paste the
  command into the command line.
  <br><br>For example:
  <pre class="terminal">$ docker pull registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-instance:0.1.0
    <br>0.1.0: Pulling from tanzu-mysql-for-kubernetes/tanzu-mysql-instance
f22ccc0b8772: Pull complete
3cf8fb62ba5f: Pull complete
e80c964ece6a: Pull complete
0c31331fda89: Pull complete
0e9674cd2c60: Pull complete
d88e035d5311: Pull complete
5055f7e93495: Pull complete
80e0c3183303: Pull complete
6312f33f1306: Pull complete
47733910cd21: Pull complete
4ac582ac7e82: Pull complete
e9ad4cffabdc: Pull complete
4b9107ee1e3e: Pull complete
faffd54990ce: Pull complete
Digest: sha256:78073dcf626603da192b78643bda24e0098f944d0bd54da1d60924b20d5eea8c
Status: Downloaded newer image for registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-instance:0.1.0
registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-instance:0.1.0</pre>
  1. **To download `tanzu-mysql-operator`:** Click the artifact from <%= vars.product_network %> and paste the
  command into the command line.
  <br><br>For example:
  <pre class="terminal">$ docker pull registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator:0.1.0
    <br>0.1.0: Pulling from tanzu-mysql-for-kubernetes/tanzu-mysql-operator
be69922ffb42: Pull complete
ef291e196a72: Pull complete
Digest: sha256:91664f6866b7228b68d3fb9ff8e13af95f618b7b78e5fd35690dd29394a08db1
Status: Downloaded newer image for registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator:0.1.0
registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator:0.1.0</pre>


## <a id="edit-chart"></a> (Optional) Edit the Helm Chart

You might want to edit the values in your <%= vars.product_short %> Operator Helm chart before you install.

To edit your Helm chart:

1. Open the `values.yaml` file inside your local `tanzu-mysql-operator` directory.
    You can edit the following values:

    <table>
      <thead>
        <tr>
          <th width="15%">Key</th>
          <th width="10%">Value Type</th>
          <th width="35%">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><code>imagePullSecret</code></td>
          <td>String</td>
          <td>Name of image secret. This value must match the name of the Kubernetes
            secret you create in <a href="#install">Install the Operator</a> below.</td>
        </tr>
        <tr>
          <td><code>operatorImage</code></td>
          <td>URI</td>
          <td>Reference to the <%= vars.product_short %> Operator image.
            If you uploaded the Operator image to a private registry, you must
            change this reference to pull the Operator image from your registry.</td>
        </tr>
        <tr>
          <td><code>tanzuMySQLImage</code></td>
          <td>URI</td>
          <td>Reference to the <%= vars.product_short %> image.
            If you have uploaded the <%= vars.product_short %> image to a private registry,
            you must change this reference to pull the <%= vars.product_short %> image from your registry.</td>
        </tr>
        <tr>
          <td><code>resources</code></td>
          <td>List</td>
          <td>Limits and requests for CPU and memory for the <%= vars.product_short %> Operator.
            You can change these values to scale your resources.</td>
        </tr>
      </tbody>
    </table>
    <br>See the following example `values.yaml` file:
    <pre><code>---
    imagePullSecret: tanzu-mysql-image-registry
    <br>operatorImage: registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator:0.1.0
    <br>tanzuMySQLImage: registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-instance:0.1.0
    <br>resources:
      limits:
        cpu: 100m
        memory: 30Mi
      requests:
        cpu: 100m
        memory: 20Mi
    </code></pre>


## <a id="install"></a> Install the Operator

To install the <%= vars.product_short %> Operator, you must use kubectl to create a namespace and secret.
Then, use the Helm CLI to install the Operator.

To install the Operator:

1. Create the namespace by running:

    ```
    kubectl create namespace tanzu-mysql-for-kubernetes-system
    ```

1. Set your kubectl context to the newly-created namespace by running:

    ```
    kubectl config set-context --current --namespace tanzu-mysql-for-kubernetes-system
    ```

1. Create a Kubernetes secret for accessing registry containing the <%= vars.product_short %> images by running:

    ```
    kubectl create secret docker-registry tanzu-mysql-image-registry --docker-server=https://registry.pivotal.io/ \
    --docker-username=DOCKER-USERNAME --docker-password=DOCKER-PASSWORD
    ```
1. Download the Helm chart to your current working directory on your local machine by running:

    ```
    helm chart export REGISTRY-URL
    ```
    Where `REGISTRY-URL` is the reference to the <%= vars.product_short %> Helm chart. <br>The value of `REGISTRY-URL` has the following pattern:
    `registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator-chart:VERSION-NUMBER-TAG`
    Where `VERSION-NUMBER-TAG` is the version of the Helm chart.

    <br>For example:
    <pre class="terminal">$ helm chart export registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator-chart:0.1.0
    <br>ref:     registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator-chart:0.1.0
    digest:  2b6e1d010ab1737dcc5a426b223a06db1c616107d2ceaf368db6fda48d96a61a
    size:    4.2 KiB
    name:    tanzu-mysql-operator
    version: 0.1.0
    Exported chart to tanzu-mysql-operator/
    </pre>

1. Install the <%= vars.product_short %> Operator by running:

    ```
    helm install tanzu-mysql-operator ./tanzu-mysql-operator/
    ```

1. See that your Operator has installed successfully by running:

    ```
    kubectl get all
    ```
    The <%= vars.product_short %> Operator has finished installing when you see the value of the `STATUS` column for the
    <%= vars.product_short %> Operator Pod is `Running`. See example output:
    <pre class="terminal">$ kubectl get all
NAME                                                           READY   STATUS    RESTARTS   AGE
pod/mysql-for-kubernetes-controller-manager-84d76dfb77-lq5mb   1/1     <span style="color: #77bf00;">Running</span>   0          21s
<br>NAME                                                      READY   UP-TO-DATE   AVAILABLE   AGE
deployment.apps/mysql-for-kubernetes-controller-manager   1/1     1            1           23s
<br>NAME                                                                 DESIRED   CURRENT   READY   AGE
replicaset.apps/mysql-for-kubernetes-controller-manager-84d76dfb77   1         1         1       23s</pre>
    <p class="note">
      <strong>Note:</strong> You can only have one <%= vars.product_short %> Operator installed in a Kubernetes cluster.
    </p>
