---
title: Upgrading the Tanzu MySQL Operator
owner: MySQL
---

<%= partial '../../mysql-k8s/partials/mysql-k8s/product-beta-warning' %>

<strong><%= modified_date %></strong>

This topic explains how to upgrade the <%= vars.product_full %> Operator.

## <a id='AboutTile'></a>About <%= vars.product_short %>

Upgrading the <%= vars.product_short %> Operator

## <a id='prereq'></a>Prerequisites
Prerequisites

* Have access to [TanzuNet](https://network.pivotal.io/) and
[Tanzu Net Registry](https://registry.pivotal.io/harbor/sign-in?redirect_url=%2Fharbor%2Fprojects)
* Have the Helm CLI installed
* Have the Kubernetes command line tool (kubectl CLI) installed
* An existing Kubernetes environment
* Admin access to the `mysql-for-kubernetes-system` namespace

## <a id='retrieve-helm'></a>Retrieve the Helm Chart and Images from TanzuNet
To upgrade the <%= vars.product_full %> Operator, you must first retrieve the Helm Chart and Images from
TanzuNet.

To do this, run:

<pre class="terminal">
$ helm fetch tanzu-mysql-kubernetes/tanzu-mysql-operator --version 0.1.0
</pre>

...delete and reinstall?
