---
title: Upgrading the Tanzu MySQL for Kubernetes Operator
owner: MySQL
---

<%= partial '../../mysql-k8s/partials/mysql-k8s/product-beta-warning' %>


<strong><%= modified_date %></strong>

This topic describes how operators upgrade the <%= vars.product_full %> Operator.

## <a id="upgrade-operator"></a> Use the Helm CLI to Upgrade the Operator

To upgrade <%= vars.product_short %>, you must download resources and upgrade
the <%= vars.product_short %> Operator using Helm.

To upgrade the Operator using the Helm CLI:


0. Set the environment variable to enable OCI support in the Helm v3 client by running:

    ```
    export HELM_EXPERIMENTAL_OCI=1
    ```

    If you skip this step, the following error message might appear:
    <pre class="terminal">Error: this feature has been marked as experimental and is not enabled by default.</pre>

1. Use Helm to log in to the Tanzu Network Registry by running:

    ```
    helm registry login registry.pivotal.io
    ```

    Follow the prompts to enter the email address and password for your <%= vars.product_network %> account.

1. Verify that you have a running <%= vars.product_short %> Operator by running:

    ```
    helm -n tanzu-mysql-for-kubernetes-system ls
    ```
    For example:

    <pre class="terminal">
    $ helm -n tanzu-mysql-for-kubernetes-system ls
    NAME                  NAMESPACE                          REVISION  UPDATED                               STATUS    CHART                       APP VERSION
    tanzu-mysql-operator  tanzu-tanzu-mysql-for-kubernetes-system  1         2021-01-19 15:52:10.473565 -0700 MST  deployed  tanzu-mysql-operator-0.1.0  0.1.0
    </pre>

1. Download the Helm chart to your current working directory on your local machine by running these commands:

    ```
    helm chart pull REGISTRY-URL
    ```
    ```
    helm chart export REGISTRY-URL
    ```
    Where `REGISTRY-URL` is the reference to the <%= vars.product_short %> Helm chart.
The value of `REGISTRY-URL` has the following pattern:

    ```
    registry.pivotal.io/tanzu-mysql-for-kubernetes/tanzu-mysql-operator-chart:VERSION-NUMBER-TAG
    ```
    Where `VERSION-NUMBER-TAG` is the version of the Helm chart.

    <br>This downloads a directory named `tanzu-mysql-operator/` into your current working directory

1. Go to where the new release has been downloaded and apply the new CRDs by running:

    ```
    kubectl apply -f ./tanzu-mysql-operator/crds/
    ```

    <p class="note">
      <strong>Note:</strong> You can ignore the warnings in the output.
    </p>

1. Upgrade the Operator by running:

    ```
    helm upgrade tanzu-mysql-operator ./tanzu-mysql-operator
    ```

    When you see `deployed` in the `STATUS` column, the <%= vars.product_short %>
    Helm chart has upgraded:

    <pre class="terminal">$ helm -n tanzu-mysql-for-kubernetes-system history tanzu-mysql-operator
    REVISION    UPDATED                     STATUS        CHART                              APP VERSION   DESCRIPTION
    1           Thu Jan 14 17:47:53 2021    superseded    tanzu-mysql-operator-0.1.0         0.1.0          Install complete
    2           Thu Jan 14 18:09:05 2021    deployed      tanzu-mysql-operator-0.2.0         0.2.0          Upgrade complete
    </pre>
