---
title: Upgrading the Tanzu MySQL Operator
owner: MySQL
---

<%= partial '../../mysql-k8s/partials/mysql-k8s/product-beta-warning' %>

<strong><%= modified_date %></strong>

This topic explains how to upgrade the <%= vars.product_full %> Operator.

## <a id='AboutTile'></a>About <%= vars.product_short %>

Upgrading the <%= vars.product_short %> Operator

## <a id='prereq'></a>Prerequisites
Prerequisites

* Access to TanzuNet and TanzuNet Registry
* Helm CLI
* Kubectl CLI
* An existing Kubernetes environment
* Admin access to the `mysql-for-kubernetes-system` namespace

## <a id='retrieve-helm'></a>Retrieve the Helm Chart and Images from TanzuNet
Retrieve the Helm Chart and Images from TanzuNet

* helm fetch tanzu-mysql-kubernetes/tanzu-mysql-operator --version 0.1.0
* ...delete and reinstall?
